<h1>Edit Topic</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidlines for topics</p>
    <ul>
      <li>Don't repeat topics</li>
      <li>Make it interesting</li>
      <li>Keep the NSFW stuff to yourself!</li>
    </ul>
  </div>
  <%= render partial: 'form', locals: {topic: @topic } %>
